:root {
    --background-color: #1c1c1c;
    --background-color-app: #23252C;
    --background-color-info: #1a1b21;
    --background-email-button: #fff;
    --background-linkedin-button: #5093E2;
    --background-color-footer: #161619;
    --text-color: #fff;
    --text-color-title: #F3BF99;
    --svg-color: #918E9B;
}
*{
    /* outline: red solid 1px; */
}
body{
    background-color: var(--background-color);
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
}
.App{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 53px;
    padding-top: 53px;
    width: 550px;
    height: 868px;
    background-color: var(--background-color-app);
}
.portrait{
    width: 317px;
    border-radius: 10px 10px 0 0;
}
.main-info{
    background-color: var(--background-color-info);
    width: 317px;
    margin-bottom: 44px;
}
.info {
    text-align: center;
}
.info .title{
    color: var(--text-color-title);
    line-height: 5px;
    

}
.info-buttons{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}
.info-buttons .email, .info-buttons .linkedin{
    width: 115px;
    height: 34px;
    border-radius: 6px;
    font-weight: bold;
}
.email{
    background-color: var(--background-email-button);
    outline: none;
    border: none;
    cursor: pointer;
}
.linkedin{
    background-color: var(--background-linkedin-button);
    color: var(--text-color);
    outline: none;
    border: none;
    cursor: pointer;
}
.about-interest{
    padding: 35px;
}
.about > h1, .interest > h1{
    font-size: 16px;
    font-weight: 700;
}
.about > p, .interest > p{
    font-size: 12px;
    letter-spacing: 0.01em;
    line-height: 16px;
    margin: 5px 0;
}
.footer {
    background-color: var(--background-color-footer);
    height: 44px;
    /* border-radius: 0 0 10px 10px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    padding: 20px 0 20px 0;
}
.footer a{
    transform: scale(2);
}
.footer a:visited{
    color: var(--svg-color);
}