:root {
    --background-color: #1c1c1c;
    --background-color-app: #23252C;
    --text-color: #fff;
    --text-color-title: #F3BF99;
}
*{
    outline: red solid 1px;
}
body{
    background-color: var(--background-color);
    font-family: 'Inter', sans-serif;
    
}
.App{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 53px;
    padding-top: 53px;
    width: 550px;
    height: 868px;
    background-color: var(--background-color-app);
}
.portrait{
    width: 300px;
    border-radius: 10px 10px 0 0;
}
.info {
    color: var(--text-color);
}
.info .title{
    color: var(--text-color-title);
}
.info-buttons{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}
.info-buttons .email, .info-buttons .linkedin{
    width: 115px;
    height: 34px;
    border-radius: 6px;
}